@model IEnumerable<tjadmin.Models.tbl_HiringAdvice_Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            cate_name
        </th>
        <th>
            active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cate_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cate_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cate_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cate_id })
        </td>
    </tr>
}

</table>
