@model tjadmin.Models.tbl_HiringAdvice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_HiringAdvice</legend>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">tbl_HiringAdvice_Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_HiringAdvice_Category.cate_name)
    </div>

    <div class="display-label">writer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.writer)
    </div>

    <div class="display-label">active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>

    <div class="display-label">uploadedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uploadedDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
