@model IEnumerable<tjadmin.Models.tbl_OrganizationType>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            typename_en
        </th>
        <th>
            typename_vi
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typename_en)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typename_vi)
            </td>
            @if (!item.typename_en.Contains("K-12") || !item.typename_vi.Contains("non"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            }
        </tr>
    }
</table>
