@model IEnumerable<tjadmin.Models.tbl_Job_EmploymentType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            etName_en
        </th>
        <th>
            etName_vi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.etName_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.etName_vi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.etId }) |
            @Html.ActionLink("Details", "Details", new { id=item.etId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.etId })
        </td>
    </tr>
}

</table>
