@model tjadmin.Models.tbl_CommentHiring

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_CommentHiring</legend>

    <div class="display-label">tbl_HiringAdvice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_HiringAdvice.title)
    </div>

    <div class="display-label">writer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.writer)
    </div>

    <div class="display-label">body</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.body)
    </div>

    <div class="display-label">createddate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createddate)
    </div>

    <div class="display-label">active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
