@model IEnumerable<tjadmin.Models.tbl_Langlvl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            langlvl_name_en
        </th>
        <th>
            langlvl_name_vi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.langlvl_name_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.langlvl_name_vi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.langlvl_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.langlvl_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.langlvl_Id })
        </td>
    </tr>
}

</table>
